.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: var(--navbar-height);
  padding: 0 1rem;
  background-color: var(--inverted-bg-color);
}

.auth {
  margin-left: auto;
}

.logoBtn {
  width: min-content;
  height: min-content;

  .logo {
    width: 2rem;
    height: 2rem;
    margin-right: 0.5rem;
  }
}